*{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(7, 59, 76) 50%, rgb(255, 209, 102) 50%);
    font-family: 'Roboto', sans-serif;
    overflow-x : hidden;
}

.logo{
    padding-right: 15px;
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(7, 59, 76);
    font-size: 35px;
    text-align: center;
}

.color1{
    font-family: 'Handlee', cursive;
    color:  rgb(255, 209, 102);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 90px;
    padding-top: 2vh;
    padding-bottom: 8vh;
    width: 100vw;
    height:auto;
}

.menu-container{
    align-self: center;
    width: 90px;
    padding-right: 2vw;
    height: 280px;
}

.menu-container div{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 209, 102);
    box-shadow: 6px 6px rgba(0,0,0,.2);
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 71, 111);
    min-height: 450px;
    min-width: 400px;
    max-width: 600px;
    box-shadow: 6px 6px rgba(0,0,0,.2);
}

.todo header{
    align-self: start;
    padding: 2% 6%;
    color: white;
}
.todo h1{
    font-size: 25px;
}

.todo p{
    font-size: 15px;
}

form{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 12px;
}

.todo-input{
    width: 75%;
    border: none;
    background-color:  rgb(244, 241, 222);
    height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.todo-button{
    min-width: 20%;
    height: 25px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.todo-button:hover{
    border: 2px solid white;
    font-weight: bold;
}

.todo-container{
    width: 90%;
}

.todo-list{
    width: 100%;
    padding-left: 0%;
}

.new-todo{
    width: 100%;
    height: 37px;
    display: grid;
    grid-template-columns: 80fr 10fr 10fr;
}

.todo-item{
    word-wrap: break-word;
    word-break: break-word;
    grid-column: 1/2;
    width: 100%;
    background-color: rgba(244,244,244,.1);
    height: 25px;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.complete-btn, .trash-btn{
    height: 25px;
    font-size: 15px;
    border:none;
    background-color: rgba(244,244,244,.1);
    color: white;
    width: 100%;
    cursor: pointer;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.complete-btn{
    grid-column: 2/3;
}

.trash-btn{
    grid-column: 3/4;
}

.complete-btn:hover, .trash-btn:hover{
    color: #ED345F;
}


@media only screen and (max-width: 768px){
    .menu-container{
       display: none;
    }

    .container{
        padding-right: 0px;
        max-width: 92vw;
    }

    .todo{
        min-height: 360px;
        min-width: 320px;
        max-width: 100%;
    }
    
    .todo-input{
        width: 70%;
    }
}
